#
# This file contains the api/.htaccess for the project AWS-0004-A.
#
# File information:
# Project Name: AWS-0004-A
# Section Name: api
# File Name: .htaccess
# File Author: Troy L. Marker
# Language: Apache Configuration settings
#
# File Copyright: 06/29/2024
#
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule . index.php [L]